/* Fix header */
.book .book-header {
  position: fixed;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.book.with-summary .book-body {
  left: 0;
}
@media (max-width: 600px) {
  .book.with-summary .book-body {
    -webkit-transform: translate(0,0); 
    -moz-transform: translate(0,0); 
    -ms-transform: translate(0,0); 
    -o-transform: translate(0,0); 
    transform: translate(0,0);
  }
}
.book .book-summary ul.summary {
  top: 50px
}
.book .book-body .page-wrapper {
  margin-top: 50px;
  overflow-x: hidden;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
.book.with-summary .page-wrapper {
  left: 150px;
  width: calc(100% - 150px);
}
.book.with-search .book-summary .book-search {
  top:50px;
}
.book.with-search .book-summary ul.summary {
  top: 100px;
}
.book.color-theme-1 .book-header {
  background: #f3eacb;
}
.book.color-theme-2 .book-header {
  background: #1d1f21;
}
.book .body-inner .book-header h1 {
  opacity: 1;
}
/* Hide checkmarks */
.book .book-summary ul.summary li.done>a i {
  display: none;
}
/* Hide Gitbook entires which aren't needed */
.summary li:first-child {
  margin-top:5px;
}
.book .book-summary ul.summary li:nth-child(2) .custom-link,
.book .book-summary ul.summary li:nth-child(3) .custom-link,
.book .book-summary ul.summary li:nth-child(4) .custom-link {
  display: none;
}
/* Hover gray on button items */
.book .book-header>a:not(.pull-right):hover {
  background: rgba(240,240,240,0.8);
}
/* Add GC logo */
.book .book-header .btn.toggle-summary {
  margin-left: 150px;
}
.book .book-header .btn.toggle-summary:before {
  content: " ";
  background: url("../../../logo.png") center no-repeat;
  background-size: 94.4px 40px;
  width: 150px;
  height: 50px;
  position: absolute;
  left: -145px;
}
.book .book-header .btn.toggle-summary:hover:before {
  background: url("../../../logo.png") center no-repeat rgba(240,240,240,0.8);
  background-size: 94.4px 40px;
}
@media (max-width: 900px) {
  .book .book-header .btn.toggle-summary {
    margin-left: 0;
  }
  .book .book-header .btn.toggle-summary:before {
    content: " ";
    background: none;
    width: 0;
    height: 0;
    position: absolute;
  }
  .book .book-header .btn.toggle-summary:hover:before {
    background: none;
  }
  .book .book-header .btn.pull-right {
    display: none;
  }
}
/* Contents on each section */
.book-body .page-wrapper .page-inner .articles {
  list-style-type:none;
  font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.book-body .page-wrapper .page-inner .articles .chapter a {
  color: #333;
}
.book-body .page-wrapper .page-inner .articles .chapter .fa-check {
  display: none;
}
.book-body .page-wrapper .page-inner .articles .chapter a:hover {
  color: #008cff;
}
/* Hide horizontal lines */
.body-inner .page-inner hr {
  display: none;
}
/* Remove bullets */
.book .book-body .page-wrapper .page-inner section.normal ul {
  list-style-type: none;
  padding-left: 0;
}
.book .book-body .page-wrapper .page-inner section.normal ul li:before {
  content: "–";
  position: absolute;
  margin-left: -1.1em;
}
/* Centre image and make text italic */
.book .book-body .page-wrapper .page-inner section.normal .figure {
  text-align: center;
  font-style: italic;
}
/* Align subsections additon */
.subsection {
  padding: 5px 15px;
}
/* Add footer colours */
.book-body {
  background: url("../../../footer.png") no-repeat bottom;
  background-size: 100% 7px;
}
/* Hide Gitbook link */
.book .book-summary>.summary>li:nth-last-of-type(2) {
  display: none;
}
.book .book-summary ul.summary li a.gitbook-link {
  display: none;
}
/* Change colour of contents links */
.book.color-theme-1 .book-body .page-wrapper .page-inner .articles .chapter a {
  color: #333;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner .articles .chapter a:hover {
  color: #704214;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner .articles .chapter a {
  color: #a4b1b1;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner .articles .chapter a:hover {
  color: #008cff;
}